@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Main Container */
.container {
    font-family: "Roboto", sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: #E2E8F0;
    display: grid;
    grid-template-columns: repeat(1, minmax(350px, 1fr)) 4fr;
    grid-template-rows: 1fr 5fr;
}
/* Left Sidebar Related Content */
.colorchange img{
    filter: invert(1) brightness(1);
}
.sidebar {
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: #1B2F33;
    display: grid;
    grid-template-rows: 1fr 3fr 3fr;
    gap: 10px;
}
.dash-icon {
    width: 60px;
    height: 60px;
}
.dash-title {
    height: 150px;
    display: flex;
    margin-left: 30px;
    gap: 20px;
    align-items: center;
    /* flex-direction: column; */
}
.dash-title h1 {
font-size: 2rem;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: white;
}
.text-text {
    width: 20px;
}
.sidebar li p {
    font-size: 1.5rem;
    cursor: pointer;
    transition-duration: 0.1s;
    /* box-sizing: border-box; */
    /* size: 5px; */
}
.sidebar li p:hover {
    /* border-bottom: 1px solid black; */
    transform: translateX(5px);
    transition-duration: 0.2s;
    /* border-bottom: -1px solid black; */
    /* outline: auto; */

}
.upper-list {
    /* background-color: bisque; */
    display: grid;
    /* grid-template-rows: repeat(); */
    /* grid-template-rows: repeat(6, 100px); */
}

.upper-list ul {
    display: grid;
    grid-template-rows: repeat(6,60px);
    margin-left: 50px;
    list-style-type: none;
    gap: ;
}
.upper-list li {
    display: grid;
    grid-template-columns: 1fr 4.8fr;
    align-items: center; 
    color: white;
    font-size: 1.3rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* gap: -; */
    gap: 5px;
}
.lower-list ul {
    display: grid;
    grid-template-rows: repeat(3,60px);
    margin-left: 50px;
    list-style-type: none;
}

.lower-list li {
    /* gap: 5px; */
    display: grid;
    grid-template-columns: 1fr 4.8fr;
    align-items: center; 
    color: white;
    font-size: 1.3rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    gap: 5px;
}
.dash-upper {
    width: 40px;
    height: 40px;
}
/* ---- */

/* Header Related Content */
.header {
    grid-column: 2/3;
    grid-row: 1;
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: repeat(1, minmax(500px, 1.6fr)) 1fr;
    box-shadow: 0 6px 2px -2px #CDD2D9;
    padding-bottom: 10px;
}
.search-side {
    grid-column: 1/2;
    /* background-color: blue; */
    display: grid;
    grid-template-rows: 1fr 1.5fr;
}
.icon-side {
    grid-column: 2/3;
    /* background-color: #1992D4; */
}
.search-bar {
    grid-row: 1;
    /* background-color: azure; */
    display: grid;
    grid-template-columns: repeat(1, minmax(100px, 1fr)) repeat(1, minmax(500px, 15fr));
    align-items: center;
}
.search-bar input {
    grid-column: 2;
    width: 95%;
    height: 30px;
    border-radius: 15px;
    margin: 10px;
    padding: 5px;
    padding-left: 15px;
    align-items: center;
    background-color: #E2E8F0;
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.search-bar input::selection{
    /* color: #000000; */
    background-color: rgb(212, 27, 166);
}
.search-bar img {
    justify-self: right;
    /* top:; */
}
.search-bar input:focus {
    outline: none;
    /* box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; */
}
.icon-mag {
    width: 35px;
    height: 30px;
}
.user-icon-img {
    width: 150px;
    align-self: center;
    justify-self: end;
}

.user-display {
    display: grid;
    grid-template-columns: repeat(1, minmax(180px, 1fr)) repeat(1,minmax(100px, 4fr));
    background-color: #ffffff
}
.user-icon {
    grid-column: 1;
    /* background-color: yellow; */
    display: grid;
}
.user-name-display {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    /* justify-content: cente; */
    align-items: center;
    gap: 5px;
    margin-left: 10px;
}
.user-name-display h2 {
    align-self: flex-start;
}
.user-name-display h4{
    align-self: flex-end;
}

.icon-side{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}
.icon-upper {
    display: grid;
    /* gap: 20px; */
    grid-template-columns: repeat(1, minmax(200px, 1fr)) repeat(1, minmax(150px, 0.6fr)) repeat(1, minmax(200px, 1fr))
}
.icon-upper-bell {
    width: 40px;
    align-self: center;
    justify-self: flex-end;
    grid-column: 1;
} 
.icon-upper-user {
    width: 100px;
    grid-column: 2;
    align-self: center;
    justify-self: center;
}
.icon-upper h3 {
    font-size: 1.8rem;
    align-self: center;
    justify-self: flex-start;
}
.icon-lower {
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, 1fr));
}

.icon-lower button {
    color: white;
    background-color: #47682C;
    border-radius: 50px;
    height: 50px;
    width: 150px;
    font-family: 'Roboto';
    font-size: 1.2rem;
    border: none;
    align-self: center;
    justify-self: center;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.icon-lower button:hover{
    cursor: pointer;
    background-color: #60863e;
}
.icon-lower button:active{
    background-color: #609634;
}

/*  Right Content Related Stuff */


.right-content {
    display: grid;
    grid-template-columns: repeat(1, minmax(900px, 1.5fr)) repeat(1, minmax(200px, 0.5fr));
    /* height: 100%; */
    /* grid-template-rows: 50px auto; */
    background-color: #E3E0E7;
}
.card-container h3{
    grid-row: 1;
}
.right-content h3 {
    align-self: flex-end;
    margin-top: 10px;
    position: relative;
    left: 40px;
    /* top: px; */
    font-size: 25px;
}
.right-content h1 {
        justify-self: flex-start;
        position: relative;
                top: 20px;
                /* padding-top: 30px; */
        left: 40px;
        font-size: 1.8rem;
}
.card-container {
    grid-column: 1;
    /* background-color: #4aabdf; */
    display: grid;
    
    grid-template-columns: repeat(2, minmax(400px, 1fr));
    /* grid-auto-rows: 250px; */
    padding: 10px;
    gap: 15px;
    /* background-color: #F0B429; */
    /* overflow: scroll; */
    margin-bottom: 20px;
}
.card {
    width: clamp(200px, 100%, 500px);
    height: 210px;
    background-color: #FFFFFF;
    justify-self: center;
    align-self: center;
    border-left: 10px solid #EF3054;
    border-radius: 15px;
    display: grid;
    grid-template-rows: 140px 50px;
    transition-duration: 0.7s;
    box-shadow: 0 6px 2px -2px #CDD2D9;
    /* margin: 5px; */
    padding: 6px;
}
.card:hover {
    transform: translateY(-6px);
    transition-duration: 0.7s;
}
.row-icons {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-row: 2;
    justify-self: end;
    gap: 5px;
}
.card img:hover {
    cursor: pointer;
}
.card img:focus {
    background-color: rgb(122, 40, 40);
}
.card img {
    width: 25px;
    justify-self: flex-start;
    /* align-self: center; */
}
.announc-container h2 {
    justify-self: flex-start;
    align-self: end;
    padding-left: 40px;
    margin-bottom: 10px;
}

.announc-container {
    display: grid;
    grid-template-rows: repeat(2,minmax(1fr, 400px));
    min-width: 350px;
    max-width: 400px;
}

.announc-top {
    display: grid;
    grid-template-rows: repeat(2, minmax(50px, 1fr));
    background-color: #FFFFFF;
    height: 300px;
    min-height: 310px;
    /* max-height: 290px; */
    width: 80%;
    /* min-width: 250px; */
    border-radius: 15px;
    justify-self: center;
    box-shadow: 0 6px 2px -2px #CDD2D9;
    margin-top: 18px;
    gap: 20px;
}
.announc-bottom {
    /* min-width: ; */
    display: grid;
    grid-template-rows: repeat(4, minmax(50px, 1fr));
    background-color: #FFFFFF;
    height: 260px;
    width: 80%;
    /* min-width: 270px; */
    border-radius: 15px;
    justify-self: center;
    box-shadow: 0 6px 2px -2px #CDD2D9;
    gap: 5px;
    padding-bottom: 10px;
    /* box-sizing: content-box; */
}
.trend-row {
    /* margin: padd; */
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 5px;
}
.trend-row img {
    width: 50px;
    justify-self: flex-end;
    align-self: center;
}

.at-text {
    align-self: center;
}
.at-text  p::selection {
    /* align-self: center; */
    /*  */
    background-color: #D41BA6;
    color: black;
}
.announc-text h5::selection {
    background-color: #D41BA6;
}
.announc-text p::selection {
    background-color: #D41BA6;
    color: black;
}
.announc-text {
    width: 80%;
    font-size: 0.8rem;
    display: grid;
    grid-template-rows: repeat(2, minmax(auto-fit, 1fr));
    border-bottom: 1px solid gray;
    justify-self: center;
    padding-bottom: 10px;
    gap: 10px;
    margin-top: 20px;
    /* text-wrap: ; */
}
.announc-text h5 {
    font-size: 1.2rem;
        justify-self: flex-start;
        /* align-self: flex-end; */
        /* justify-content: flex-end; */
}
.announc-text p {
    /* font-size: 1.2rem; */
        /* justify-self: flex-start; */
        /* align-self: flex-end; */
        /* justify-content: flex-end; */
        color: #6C6C6C;
}

.announc-top {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    overflow: hidden;
    /* justify-content: center; */
    align-content: center;
    /* height: 250px; */
}
.text2 {
    border: none;
}

.sub-text {
    color: #636363;
}
.card-text{
    display: grid;
    gap: 5px;
    grid-template-rows: 40px 100px;
}
.card-title {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.6rem;
    padding-left: 20px;
    font-weight: bold;
    padding-right: 20px;
}
.card-title::selection {
    background-color: #D41BA6;
}
.card-subject::selection{
    background-color: #D41BA6;
    color: black;
}
.card-subject {
    /* width: 420px; */
    /* min-width: 420px; */
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    color: #6C6C6C;
    resize: none;
    line-height: 1.2;
}

.text-top {
    /* margin-bottom: 20px; */
    padding-bottom: 10px;
}